<!DOCTYPE html>

<html>
    <head>
        
        <title>template is working</title>
        
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1 style="color:blue;">welcome to the worled of teXt correction,enter your text here</h1>
        <form action='analyze/' method='get' >
        
        <textarea  name='text' style="margin: 0px; width: 810px; height: 123px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">remove punctuations</input>
        <br>
        <input type="checkbox" name="fullcaps"> Uppercase</input>
        <br>
        <input type="checkbox" name="newlineremover">Newlineremover</input>
        <br>
         <input type="checkbox" name="extraspaceremover">Extraspaceremover</input>
        <br>
        <input type="checkbox" name="charcount">Charcount</input>
        <br>
        <button>Analyze text</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>
